@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {

    font-size: 1rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    margin: 0;
    padding: 0;
    
    height: 100%;

    background-color: black;

    /* The image used */
    background-image: url("assets/background1080p.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }