@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html {

  --darkest: #0b090a;
  
  --dark:  rgba(0,0,0,0.8);

  --medium: #ef233c;

  --light: #ef233c;

  --lightest: white;

  --highlight: #000000FF;

  --highlight-off: #00000000;


    font-size: 1rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
    background-color: black;

    margin: 0;
    padding: 0;

  }