@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html {

  --dark-background: #0b090a;
  
  --dark:  rgba(0,0,0,0.8);
  
  --medium: white;
  
  --light: #2c7ac3;

  --dark-text: black;
  
  --light-text: white;

  --highlight: #000000FF;

  --highlight-off: #00000000;

  --highlight-text: #2c7ac3;


    font-size: 1rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
    background-color: var(--dark-background);

    margin: 0;
    padding: 0;

  }