<div class="container-fluid maincontainer">
    <div class="row header">
        <div class="col-12">
            <h1>Welcome to the Blog!</h1>
        </div>
        <div class="col-12 homebuttondiv"> 
            <a class="buttonlink" routerLink="/home" >
                <h2> [go back] </h2>
            </a>
        </div>
        <div class="col-12 header">
            <h3>There are {{ numberOfPosts }} posts!</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div  *ngFor="let stringifiedPost of stringifiedPostsData" class="col-xl-8 col-12 postsdiv" >
            <app-post 
                [stringifiedPost]="stringifiedPost"
                ></app-post>
        </div>
    </div>
</div>