::ng-deep :root {
    --darkest:      #212529 ;
    --dark:         #32363A ;
    --medium:       #ff8811 ;
    --light:        #7EA8BE ;
    --lightest:     #FFFFFF ;
}

.maincontainer {
    background-color: var(--darkest);
}

.homebuttondiv {
    background-color: var(--darkest);
}

.homebuttondiv:hover {
    background-color: var(--dark);
}

.header {

    color: var(--medium);

}

.buttonlink {

    color:inherit;
    text-decoration: none;

    
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.postsdiv {
    margin-bottom: 2vh;
}