.maindiv {
    font-family: 'Lato';
    background-color: var(--dark-background);
}

.header-div {
    color: #3a88d1;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-size: xx-large;
}

.header-div a {
    color: yellowgreen;
}

.listofPostsdiv {
    color: white;
}

.myname {
    color: white;
}

.post-card {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
    color: #3a88d1;

    transition: ease-in 0.1s;
}

.post-card h5 {
    color: black;
    transition: ease-in 0.1s;
}

.post-card p {
    color: black;
    transition: ease-in 0.1s;
}

.post-card:hover {
    color: white;
    background-color: #3a88d1;
}

.post-card:hover h5 {
    color: white;
}

.post-card:hover p {
    color: white;
}
