<div class="container-fluid maindiv">
  <div class="row headerdiv">
    <div class="col-12 text-center">
      <h1>
        &#123;
        <a [routerLink]="['/']">
          <span class="myname">Shreyas Lolage's</span> 
        </a>
          Blog
        &#125;
      </h1>
    </div>
  </div>
  <div class="row justify-content-center listofpostsdiv">
    <div *ngFor="let post of posts$ | async" class="col-12 col-lg-8">
      <a style="
        color: inherit;
        text-decoration: none;" 
        [routerLink]="post.route">
        <div class="post-card">
          <h1 class="post-title">{{ post.title }}</h1>
          <h5 class="post-description">{{ post.description }}</h5>
          <p class="post-date">{{ post.date }}</p>
        </div>
      </a>
    </div> 
  </div>
</div>