
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.maindiv {
  background-color: var(--dark-background);
  font-family: 'Lato';
}

.header-div {
  color: #3a88d1;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-size: x-large;
}

.header-div a {
  color: #51b44c;
}

.myname {
  color: white;
  font-size: medium;
}

/* MARKDOWN THEME BEGIN */

.content-div {
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 1rem;
}