
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.maindiv {
  background-color: var(--dark-background);
  font-family: 'Lato';
}

.header-div {
  color: #3a88d1;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: xx-large;
}

.header-div a {
  color: yellowgreen;
}


.myname {
  color: white;
  font-size: medium;
}

/* MARKDOWN THEME BEGIN */

.content-div {
  background-color: white;
  padding: 1.5rem;

  color: black;

  border-radius: 0.5rem;

}

/* OTHER CSS*/