
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');



/* MARKDOWN THEME BEGIN */

.content-div {
  background-color: white;
  padding: 1.5rem;

  font-family: 'Archivo', sans-serif;
  
  color: black;

  border-radius: 0.5rem;

}

.content-div h1 h2 h3 h4 h5 h6 {
  color: var(--light);
}

/* OTHER CSS*/
.maindiv {
  background-color: var(--dark-background);
}

.header-div {
  color: var(--light);
}

.footer-div {
  color: var(--light);
}
