<div class="container-fluid">
    <div class="row align-items-center justify-content-left ultimatemaindiv" style="padding:10px;height: 100vh;">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12 maindiv">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-8" style="padding: 1vh;">
                        <img src="assets/profile.jpeg" class="img-fluid photoclass">
                    </div>
                    <div class="col-sm-8 align-self-center bioclass">
                        <p>
                            Hello! My name is <b class="nameclass">Shreyas Lolage</b>. I am into 
                            computers and computer security. I make music too!
                            You can check out my content below.
                            <br><br>
                            <span>Background photo by <a href="https://unsplash.com/@missmushroom?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">MissMushroom</a> on <a href="https://unsplash.com/s/photos/night-sky-clouds?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                        </p>
                    </div>
                </div>
                <div class="navigation row" style="margin-top: 20px;">
                    
                    <a class="col-sm-12 buttonlink" routerLink="/blog" ><h4>> Blog</h4></a>
                    
                    <a class="col-sm-12 buttonlink" target="_blank" href="http://instagram.com/prodby.shreyas" style="margin-bottom: 10px;">
                        <h4>> Music</h4>
                    </a>

                    <div class="col-sm-12 socialtext"><h4>Social:</h4></div>
                    
                    <a class="col-sm-3 buttonlink" target="_blank" href="http://linkedin.com/in/shreyas-lolage/"><h4>[LinkedIn] </h4></a>
                    <a class="col-sm-3 buttonlink" target="_blank" href="http://github.com/bagadb"><h4>[Github] </h4></a>                   
                    <a class="col-sm-3 buttonlink" target="_blank" href="http://twitter.com/ShreyasLolage"><h4>[Twitter] </h4></a>
                    <div class="col-sm-12" style="color: white;">Or mail me at <b class="emailclass">shreyaslolage@gmail.com</b>.</div>

                </div>
            </div>
        </div>
    </div>
</div>