<div class="container-fluid">
    <div class="row align-items-center justify-content-center ultimatemaindiv" style="padding:10px;height: 100vh;">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12 maindiv">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-8" style="padding: 1vh;">
                        <img src="assets/profile4.jpeg" class="img-fluid photoclass">
                    </div>
                    <div class="col-sm-8 align-self-center bioclass">
                        <h2>Hello, I am Shreyas!</h2>
                        <p>
                            I am an IT Engineer. I love Computers and Computer Security. I make music too!
                            Check out my <a style="color: #3a88d1;" class="buttonlink" routerLink="/blog">Blog</a> and my
                            <a style="color: #3a88d1;" class="buttonlink" target="_blank" href="http://instagram.com/prodby.shreyas">
                            Music</a>!<br><br>
                            My email is <span class="emailclass">shreyaslolage@gmail.com</span><br><br>
                            <span style="font-size: large;color: white;">Photo by <a class="buttonlink" style="color: #3a88d1;" href="https://unsplash.com/@bodriy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yuri Bodrikhin</a> on <a style="color: #3a88d1;" class="buttonlink" href="https://unsplash.com/s/photos/dark?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                        </p>
                    </div>
                </div>
                <div class="row navigation" style="margin-top: 20px;">
                    <div class="row justify-content-center">
                        <div class="col-6 col-sm-3 col-md-2">
                            <div class="row socialbar">
                                <a target="_blank" href="https://www.linkedin.com/in/shreyas-lolage" class="col-4 socialicon">
                                    <img src="assets/socialicons/linkedin.png" class="img-fluid">
                                </a>
                                <a target="_blank" href="https://github.com/bagadb" class="col-4 socialicon"> 
                                    <img src="assets/socialicons/github.png" class="img-fluid">
                                </a>
                                <a target="_blank" href="https://twitter.com/ShreyasLolage" class="col-4 socialicon">
                                    <img src="assets/socialicons/twitter.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>