@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.markdown-content {
  font-weight: 400;
  color: black;

  font-size: large;
}

.markdown-content h1 {
  color: var(--light);
  font-size: xx-large;
  font-weight: bold;
}

.markdown-content h2, h3, h4, h5, h6 {
  color: var(--light);
  font-size: xx-large;
}

.markdown-content b {
  font-weight: 700;
}

.markdown-content hr {
  border-top: 1px solid black;
}

